/*
Theme Name: algeroturque 2019
Author: Mouhamed Amine Ben Hamida
*/


@media (max-width:768px) {
	#site-header {
		display: block;
	}
	.logo {
		display: none;
	}
	#mega-menu-wrap-primary {
		width: 100%;
	}
}


