/*
Theme Name: algeroturque
Author: Mouhamed Amine Ben Hamida
*/

@font-face {
    font-family: gilroy-bold;
    src: url(../fonts/gilroy/gilroy-bold.otf);
}

@font-face {
    font-family: gilroy-light;
    src: url(../fonts/gilroy/gilroy-light.otf);
}

@font-face {
    font-family: proxima-nova-bold;
    src: url(../fonts/proxima-nova/ProximaNova-Bold.otf);
}

@font-face {
    font-family: proxima-nova-light;
    src: url(../fonts/proxima-nova/ProximaNovaCond-Light.otf);
}

@font-face {
    font-family: proxima-nova-regular;
    src: url(../fonts/proxima-nova/ProximaNovaCond-Regular.otf);
}

@font-face {
    font-family: proxima-nova-black;
    src: url(../fonts/proxima-nova/ProximaNova-Black.otf);
}

h1, h2 {
    text-transform: uppercase;
    font-family: 'gilroy-bold', sans-serif;
    color: #253577;
    border-left: 5px solid #f8c601;
    padding-left: 10px;
}

h3 {
    font-family: 'proxima-nova-bold', sans-serif;
}

p, li {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

#contenu {
    margin-top: 150px;
} 

#site-header {
    display: inline-grid;
    grid-template-columns: 15% auto;
    align-items: stretch;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000000;
    background-color: white;
}

#site-header a.mega-menu-link {
    text-transform: uppercase;
}

#site-header .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'gilroy-regular', sans-serif;
    /* background-color: #141938; */
}

#site-header img {
    padding: 10px 0px;
    width: 80%;
    display: block;
    margin: 0px auto;
}

#main-contenu .owl-item h1 {
    background-color: rgba(37,53,119,0.8);
    display: inline;
    padding: 5px;
    color: white;   
    line-height: 70px;  
    font-size: 2.2vw;
}

#main-contenu .owl-item a {
    text-transform: uppercase;
    color: #f8c601;
    font-family: gilroy-bold;
    line-height: 60px;
    font-size: 25px;
}

.sa_hover_container.sa_vert_center_wrap {
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}

.owl-nav button {
    outline: none;
    border: none;
}

#site-footer {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 30px 50px;
    font-size: bold;
}

#site-footer .footer-copyright {
    margin-bottom: 0px;
}

#site-footer .footer-copyright a {
    color:#253577;
    transition: background 200ms linear, color 200ms linear, border 200ms linear;
}

#site-footer .to-the-top {
    text-align: right;
    color: #253577;
    transition: background 200ms linear, color 200ms linear, border 200ms linear;
}

#site-footer .to-the-top:hover, #site-footer .footer-copyright a:hover {
    color:  #f8c601;
}

#about-us-text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.03);
}

#main-contenu section {
    margin-top: 50px;
    margin-bottom: 50px;
}

#main-contenu .section-title {
    margin: 0px auto;
}

#a-propos-img {
    margin: 0px auto;
    width: 65%;
    display: block;
}

.wpforms-submit-container button.wpforms-submit {
    border: none !important;
}

.wpforms-field-container textarea, .wpforms-field-container input {
    border-color: #eee !important;
}

.contact #contact-info-block {
    margin-top: 40px;
    margin-bottom: 40px;
}

.contact i {
    color: #253577;
    transition: all 200ms linear;
}

.contact #contact-info-block p:hover > i {
    color: #f8c601;
}